Source: fb-vmware
Section: python
Priority: extra
Maintainer: Frank Brehm <frank@brehm-online.com>
Build-Depends: debhelper (>= 9),
               gettext,
               dh-python,
               help2man,
               python3-all,
               python3-babel,
               python3-chardet,
               python3-fb-logging (>=1.0.0),
               python3-fb-tools (>=2.6.2),
               python3-pip,
               python3-pyvmomi,
               python3-semver,
               python3-six,
               python3-yaml,
               python3-tz
Standards-Version: 3.9.6
Homepage: https://github.com/fbrehm/fb-vmware
Vcs-Browser: https://github.com/fbrehm/fb-vmware
Vcs-Git: https://github.com/fbrehm/fb-vmware.git
X-Python3-Version: >= 3.6

Package: python3-fb-vmware
Architecture: all
Depends: python3-six,
         python3-babel,
         python3-chardet,
         python3-fb-logging (>=1.0.0),
         python3-fb-tools (>=2.6.2),
         python3-pyvmomi,
         python3-rich,
         python3-semver,
         python3-yaml,
         python3-tz,
         ${misc:Depends},
         ${python3:Depends}
Description: A Python wrapper module around the pyvmomi module to simplify work and handling.
 .
 This package includes the Python3 modules for this package.

